<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogSphere</title>
    <link rel="icon" href="./images/png/logo-grayscale-inverted.png">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
   <!-- rgb(196, 190, 184) -->
   <div style="padding-top:20px ; display : flex; justify-content: center;height:20px; width: 100%;" > <img src="./images/png/logo-grayscale-inverted.png" alt="" style="margin:0; border: 2px solid black; height:50px; width: 50px;">

    <a href="http://localhost:8080"><h2 style="margin:0  ; text-align: center; font-size: 30px;">&nbsp;&nbsp;BlogSphere</h2> </a>
    <!-- <h2>%= loger.username </h2> -->
</div>
    <div class="main-content">
        <div style=" display : flex; justify-content: start; align-items: center ;height:60px; width: 100%; position: sticky; top: 0; background-color:#BBBBBC ; ">
        <form action="/add" method="get">
            <abbr title="Create New Blog"><button class="add-btn" style="height:20px;width:70px;  border-radius: 50px;margin-top: 5px; background-color: transparent; border:none; cursor: pointer;">
                <i class="fa-regular fa-square-plus"></i>
            </button>
            </abbr>
        </form>
        
           
        
        </div>
        <div class="cards">
              <% for (let user of users) { %>
            <div class="card">
               <a href="http://localhost:8080/user/<%= user.username %>"> <h2 >Username:<%= user.username %></h2></a>
                <!-- <img src="./istockphoto-1300845620-612x612.jpg" alt="" style="height:10rem;width: 10rem;">    -->
                <img clas="card-img"src="https://picsum.photos/200/150?random=<%=user.post_no%>" style="border-radius: 2rem;">
                <!-- margin-left: 7rem; margin-right: 2.5rem; -->
            
                <h3>Caption: <%= user.caption%></h3>
                <h3>Followers: <%= user.followers%></h3>
                <h3>Following: <%= user.following%></h3>
                <h3>Likes: <%= user.likes%></h3>
                <div class="form">
                <form action="/user/<%=user.username%>/edit" method="get"> 
                   <abbr title="Edit This Post"> <button>Edit</button></abbr>
                </form>
                <form action="/user/<%=user.username%>/delete" method="get"">
                    <!--   <form method="post" action="/posts/<//post.id//%>?_method=DELETE"> -->
                   <abbr title="Delete This Post"> <button>Delete</button></abbr>
                </form> 
            </div>
            </div>
            <% } %>

        </div>  
    <h2 style="text-align: center; margin: 0">Thanks For Visiting!!! </h2>
    </div>
</body>

<script src="app.js"></script>
</html>


